<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>leasing</title>
    <script src="/jquery-3.6.0.min.js"></script>
    <script src="/calculateajax.js"></script>
</head>

<link rel="stylesheet" href="/main.css/">
<link rel="stylesheet" href="/car.css/">
<link rel="stylesheet" href="/login.css/">


</head>
<body>
<div th:replace="fragments.html :: logo" ></div>
<div th:replace="fragments.html :: menu" ></div>

<div id = "content">

   Długość leasingu
    <br>
    <br>

    <!--<form method="post">-->
        <select name="period" id="period">
            <option th:each="choose: ${time}"
                    th:text="${choose.timePeriod}"
                    th:value="${choose.code}">
       </option>
    </select>

    <br>
    <br>
    <br>
        <input type="text" placeholder="Wkład Własny" name="ownContribution" id="wklad">
    <br>
    <br>
    <br>
        <input type="radio" th:each="car: ${car}"
               th:text="${car.brand}"
               th:value="${car.price}"
               name="car" id="car">
        <br>
        <br>
        <br>

        <label>Wyrażam zgodę</label>
        <input type="checkbox" name="isPresent" value="true" id="check">
        <br>
        <br>

        <input type="submit" value="OK">
        <div id="divInstallment"></div>


 <!--   </form>-->
    <button onclick="calculate()" >WYLICZ</button>
    <br>


   <!-- <div th:text="" th:value= "${calculate.result}" placeholder="Miesięczna Rata"></div> -->

</div>


<div id = "stopka"> &copy;Bjotec 2022 Zapraszamy do kontaktu i współpracy.
</div>

</body>
</html>